In [3]:
year = 2016
height = 175.5
name = '제임스'
print(type(year))
print(type(height))
print(type(name))

<class 'int'>
<class 'float'>
<class 'str'>

In [5]:
r = input()
print(type(r))

 555

<class 'str'>

In [7]:
score = 79
print(type(score), score)
score = float(score)
print(type(score), score)

<class 'int'> 79
<class 'float'> 79.0

In [13]:
avg = 89.7
print(type(avg), avg)
avg = int(avg)
print(type(avg), avg)

<class 'float'> 89.7
<class 'int'> 89

In [15]:
x = 32
y = 32.9
x = str(x)
y = str(y)
print(type(x), type(y))
print(x + y)

<class 'str'> <class 'str'>
3232.9

In [21]:
a = "30"
print(type(a), a)
print(type(a), a*3)
a = int(a)
print(type(a), a*3)

<class 'str'> 30
<class 'str'> 303030
<class 'int'> 90

In [25]:
a = '제임스'
print(type(a), a)
a = float(a)
print(type(a), a)

<class 'str'> 제임스

ValueError: could not convert string to float: '제임스'

In [27]:
print('123', str(2))
print(int('123') + 2)

123 2
125

In [30]:
p = 3.141592
r = int(input('반지름은? '))

#원의 넓이
circleArea = p * r ** 2
c_len = 2 * p * r
sphereSurfaceArea = 4 * p * r ** 2

print('원의 넓이 =', circleArea, '원의 둘레 =', c_len, '구의 겉넓이 =', sphereSurfaceArea)

반지름은?  4

원의 넓이 = 50.265472 원의 둘레 = 25.132736 구의 겉넓이 = 201.061888

In [53]:
snack_price = 1200
ramen_price = 800
ham_price = 2400

snack_count = int(input("과자를 몇 개 구매하겠습니까?"))
ramen_count = int(input("과자를 몇 개 구매하겠습니까?"))
ham_count = int(input("과자를 몇 개 구매하겠습니까?"))

snack_sum = snack * snack_count
ramen_sum = ramen * ramen_count
ham_sum = ham * ham_count

total_price = snack_sum + ramen_sum + ham_sum
print("총금액:", total_price)

과자를 몇 개 구매하겠습니까? 3
과자를 몇 개 구매하겠습니까? 5
과자를 몇 개 구매하겠습니까? 2

총금액: 12400

In [55]:
snack_price = 1200
ramen_price = 800
ham_price = 2400

snack_count = int(input("과자를 몇 개 구매하겠습니까?"))
ramen_count = int(input("과자를 몇 개 구매하겠습니까?"))
ham_count = int(input("과자를 몇 개 구매하겠습니까?"))

snack_sum = snack * snack_count
ramen_sum = ramen * ramen_count
ham_sum = ham * ham_count

total_price = snack_sum + ramen_sum + ham_sum
sale_price = total_price * 0.75

print("할인 전 금액":", total_price, "," "할인 후 금액:", sale_price)

과자를 몇 개 구매하겠습니까? 3
과자를 몇 개 구매하겠습니까? 5
과자를 몇 개 구매하겠습니까? 2

총금액: 12400 ,할인 후 금액: 9300.0

In [57]:
print(type(6/3))

<class 'float'>

In [59]:
x = int(input("숫자1 입력: "))
y = int(input("숫자2 입력: "))

print("두 수를 더한 값:", x + y)
print("두 수를 뺀 값:", x - y)
print("두 수를 곱한 값:", x * y)
print("두 수를 나눈 값:", x / y)

숫자1 입력:  12
숫자2 입력:  4

두 수를 더한 값: 16
두 수를 뺀 값: 8
두 수를 곱한 값: 48
두 수를 나눈 값: 3.0