In [1]:
from matplotlib import pyplot as plt

Matplotlib is building the font cache; this may take a moment.

In [2]:
print(123)

123

In [3]:
print(jvfcnlsfhbjbvksn)

NameError: name 'jvfcnlsfhbjbvksn' is not defined

In [4]:
print('eufweiofhkwej')

eufweiofhkwej

In [5]:
print('44')

44

In [6]:
print('24' + 2)

TypeError: can only concatenate str (not "int") to str

In [7]:
print(int('24' + 32))

TypeError: can only concatenate str (not "int") to str

In [8]:
print('24' + str(32))

2432

In [9]:
print(124 + 9)

133

In [10]:
print('123 + 9')

123 + 9

In [11]:
print(10 * 8)

80

In [12]:
print(10/8)

1.25

In [13]:
print(10%8)

2

In [14]:
print(108 // 8)

13

In [15]:
print(108 % 8)

4

In [16]:
print(2**2)

4

In [17]:
print('파이썬' + '프로그래밍')

파이썬프로그래밍

In [18]:
print('파이썬' + 3)

TypeError: can only concatenate str (not "int") to str

In [19]:
print('파이썬' - 3)

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [20]:
print('파이썬' * 4)

파이썬파이썬파이썬파이썬

In [21]:
print('파이썬' / 4)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [ ]:
input(아무거나입력)

In [ ]:
하이

In [ ]:
input(3)

In [ ]:
456

In [ ]:
input(3)

In [ ]:
input(3)

In [ ]:
input('이름: ')

In [ ]:
input(3)

In [ ]:
input('입력')
4444

In [ ]:
user_input = input('입력: ')

In [ ]:
아낭낭나안

In [ ]:
print({user_input})

In [1]:
input('입력')

입력 하이

'하이'

In [3]:
input('아이디:')

아이디: ㅇㄴㅇㄴㅇ

'ㅇㄴㅇㄴㅇ'

In [5]:
input('아이디:')
print('---회원가입---')
print(input('아이디:') + '님, 가입을 환영합니다!')

아이디: 4454545

---회원가입---

아이디: 4454545

4454545님, 가입을 환영합니다!

In [9]:
print('무궁화 꽃이 피었습니다! ' * 3)

무궁화 꽃이 피었습니다! 무궁화 꽃이 피었습니다! 무궁화 꽃이 피었습니다!

In [13]:
print(input('닉네임을 입력해주세요. -->') + '님 안녕하세요.')

닉네임을 입력해주세요. --> 라이언

라이언님 안녕하세요.

print('95' + 3)은 TypeError가 날 것이고 print('95' * 3은 95가 세번 연달아 출력될 것이다.)